.nav {
    display: flex;
    justify-content: flex-end;
    align-items: center;
    border-bottom: 1px solid #dfdfdf;
    background: linear-gradient(to left, #00b96b, transparent);
    padding-left: 1rem;
    padding-right: 1rem;
    color: #fff;

    p {
        margin-right: 1rem;
    }
}