.profileSideBar {
    padding: 0 1rem;
    @media (max-width: 991px) {
        padding: 0;
        margin-bottom: 1rem;
    }

    .avatar {
        text-align: center;
    }

    ul {
        list-style: none;
        padding-left: 0.5rem;
    }
}