.container {
  min-height: 100vh;
  padding: 0 0.5rem;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  height: 100vh;

  .logo {
    max-height: 200px;
  }
  .actions > * {
    margin-bottom: 1rem;
  }

  .titleDivider {
    margin: 0;
  }
  
}
